In [2]:
print("Hello world")

Hello world

In [4]:
#write your code to print " I love Python" below and run it 
print("I Love Python ")

I Love Python

In [6]:
# this is a single line comment . Always comment your code 
""" this is multi line comment 
this is another line of the comment 
Here is another one . """

' this is multi line comment \nthis is another line of the comment \nHere is another one . '

Python Variables 
variables are containers that hold data values. PLease look at hte examples of variables below.

In [9]:
x = 2 # the variable x holds the value 2 
 
#variables re case - sensitive (ie. variables x and X are different )
X = 5  #this variable x id different from x above 

# you will see that the value of x and X are different 
print("x=",x)
print("X=",X)

x= 2
X= 5

In [11]:
#variables can hold string values as well , String needs to be enclosed inside a pair of single or double quotes. 
language = "Python " #string inside single quotes 
name = "John" #string inside double quotes 

#when you print variables, the values that they hold gets printed 
print('language:',language)
print('name',name)

language: Python
name John

In [12]:
#the code below will show an error when you run it 
#6name = "Harry" #variable name can not start with a number , so you will get an error

In [14]:
#the following variable names are valid 
_age = 25 
name6= "sarah" #number can be anywhere after the first character 
n6ame = "johnson" #number can be anywhere after the first character 
#variable names are case-sensitive. So the following two variables are different although they have the same spelling 
country = "Nepal" 
Country = "USA"
print("_age",_age)
print('name6',name6)
print('country',country)
print('Country',Country)

_age 25
name6 sarah
country Nepal
Country USA

In [16]:
#data types name = "sam " #str type (String) 
age = 25 #int type (integer )
height = 2.45 #float type (floating point) 
fruits = [ 'Apple',"Banana","pear"] #list type (use square brackets )
countries = {"china","India","Nepal"} #set type (use curly braces )
colors = ('red','green','blue') #tuple type (use parentheses )
x = range(5) #range type 
my_info = { name:"sam",age :25} #dict type (key: value pairs inside a pair of curly braces )
is_ok = True #boolean type (either true or false)

print(type(age))
print(type(height))
print(type(fruits))
print(type(countries))
print(type(colors))
print(type(x))
print(type(my_info))
print(type(is_ok))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'bool'>

In [19]:
int_var= int(2.45) # int_var will contain the value int value2 (numbers after the decimal are discarded)
str_var = str(45) #str_var will contain the value "45" in string form 
float_var = float("3.24") #float_var will contain the value 3.14 in floating point format 

#you can simply assign the values to the variables and the type is automatically inferred 
int_var_auto = 4 
str_var_auto= "hello"
float_var_auto = 3.14
print(type(int_var_auto))
print(type(str_var_auto))
print(type(float_var_auto))

# lets convert int_var to float type 
int_var_to_float = float(int_var)
print(type(int_var_to_float))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>

In [25]:
#python operators 
# arithemtic operators 
2+3
3-5
2*3
5/2
#modulus (%) -> this will give the reminder return 
4%3
#exponentiation (**) or power 
2**3

#comparison operators 
2==3
2!=3
2>3
2<3
2>=3
2<=3

True

In [38]:
#python list 
#list is enclose in square brackets 
days_of_week = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
days_of_week
len(days_of_week)
my_list = [1,3.0,"hello", True]
my_list
#lets access the first item in the list . index 0 
print(days_of_week[0])
#third last item in the list,index - 3 
print(days_of_week[-3])

days_of_week_0_3=days_of_week[1:4] #returns a new list with the range of items selected 
print(days_of_week_0_3)
print(days_of_week)
days_of_week[:3] #indexes 0, 1,2 will be selected 
'saturday' in days_of_week
'someday' in days_of_week

days_of_week[1] = 'mon'
days_of_week

days_of_week[2:4]=['tue','wed']
days_of_week

sunday
thursday
['monday', 'tuesday', 'wednesday']
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

['sunday', 'mon', 'tue', 'wed', 'thursday', 'friday', 'saturday']

In [44]:
my_list = [1,2,3]
my_list.insert(1,'inserted')
my_list
my_list=[1,2,3]
my_list.append(4)
my_list
list_to_add =[100,200]
my_list.extend(list_to_add)
my_list #the added item are added to the end of the list 
my_list.remove(100)
my_list

[1, 2, 3, 4, 200]

In [47]:
#if there are duplicates of the item to be removed only the first one of the items will be removed 
my_list = [1,2,3,4,5,2,3]
my_list.remove(2)
my_list
my_list.remove(2) 
my_list

[1, 3, 4, 5, 3]

In [50]:
# remove item at a specified index 
#you can use pop() method to remove an item at a specified index 
my_list  = [1,2,3]
my_list.pop(1)
my_list
my_list.pop()
my_list

[1]

In [54]:
#del keyword can also be used to remove an item at a specified index 
my_list = [1,2,3]
del my_list[0]
my_list
my_list.clear() 
my_list

[]

In [56]:
#sort list 
#you can sort a lsit alphanumerically using the sort() method. 
months_list = ['jan','feb','mar','apr']
months_list.sort()
months_list

['apr', 'feb', 'jan', 'mar']

In [58]:
year_list = [1999, 1986,2011,1970]
year_list.sort()
year_list

[1970, 1986, 1999, 2011]

In [60]:
#for sorting by descending order , provide reverse = True argument to sort() 
num_list = [4,5,63,25,-1,100]
num_list.sort(reverse=True)
num_list

[100, 63, 25, 5, 4, -1]

In [62]:
cities_list = ["kathmandu","london",'chicago','new year', 'Lahore']
cities_list.sort() 
cities_list

['Lahore', 'chicago', 'kathmandu', 'london', 'new year']

In [64]:
#reverse order - you can use the reverse() method to reverse the order of items in the list . No sorting 
my_list = [3,4,1,5]
my_list.reverse() 
my_list

[5, 1, 4, 3]

In [67]:
#make a copy of a list 
list_1 = [1,2,3,"hello"]
copy_of_list1 = list_1.copy() 
copy_of_list1
#you can also copy a list using list() method 
my_list = [3,4,5]
my_list_copy = list(my_list)
my_list_copy

[3, 4, 5]

In [69]:
#join lists - you can join two lists by simply using the + operator 
list_1 = [1,2,3]
list_2=['hi','there']
list_1.extend(list_2)
list_1

[1, 2, 3, 'hi', 'there']

In [75]:
#python conditionals - if elif esle statements 

x = 3
if (x>5):
    print("x is greater then 5 ")
elif x<4:
    print('x is less than 4 ')
elif x <3:
    print("x is less than 3 ")
else:
    print("nothing ")

x is less than 4

In [77]:
#short -hand if => you can put the if code block in one line as well 
x = 3 
if x ==3:print('x is equal to 3 ') # if code block in one line

x is equal to 3

In [79]:
#short hand if elif 
x = 2 
print( "x is equal to 2 ") if x == 2 else print("x is not equal to 2 ")

x is equal to 2

In [81]:
#nested if - you can put if statements inside if statements , which are called nested if statements 
x = 35 # try with x = 20 , 35 
if x> 10:
    print('x is greater than 10')
    if x<30:
        print("but it is less than 30 ")
    else:
        print("and it is greater than 30 as well")

x is greater than 10
and it is greater than 30 as well

In [83]:
#while loop 
x =0 
while x <5 :
    print(x) 
    x +=1

0
1
2
3
4

In [84]:
#break statment

In [86]:
x = 0 
while x <10 :
    print(x) 
    x +=1 
    if x ==4 :
        break

0
1
2
3

In [91]:
#continue statement 
x =0 
while x <10 :
    x +=1 
    if x <3:
        continue
    print(x)

3
4
5
6
7
8
9
10